/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
    background-color: #faf3dd;
    font-family: 'Sansita Swashed', cursive;
}
body { margin: 0;  

}
